/* ==========================================================================
   Civitas skin
   ========================================================================== */

/* Colors */
$white: #FFFFFF;
$goldfish: #9B9B72;
$pale-pink: #C68997;
$teal: #184954;
/* https://www.lovetoknow.com/home/design-decor/teal-color-schemes */
$blue-teal: #54C4C1;
$muted-teal: #689695;

$background-color: $white !default;
$text-color: $teal !default;
$muted-text-color: $goldfish !default;
$primary-color: $goldfish !default;
$border-color: $blue-teal !default;
$footer-background-color: $teal !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix($muted-teal, $text-color, 80%) !default;
$link-color: $muted-teal !default;


.footer .page__footer .page__footer-follow .social-icons .svg-inline--fa {
    color: $goldfish !important; // override
    backgrout-color: $teal important; // override
}


$global-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$header-font-family: $global-font-family;



.site-title {
    font-family: "Finger Paint";
    font-size: 2.5em;
}


.main::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("../images/Background.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    
}

